<p id="notice"><%= notice %></p>

<h2><%= @pet.name %> <small>Pet</small></h2>

<p>
  <strong>Chip:</strong>
  <%= @pet.chip %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @pet.owner_id %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @pet.animal %>
</p>

